<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Login
                </div> 
                <div class="card-body"> 
                <form (ngSubmit) = "loginUser()">
                    <div class="mb-3">
                        <label for="email" class="form-label"> Email</label> 
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="enter email">
                    </div> 
                    <div class="mb-3">
                        <label for="password" class="form-label">password</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="enter password">
        
                    </div> 
                    <button type="submit" class="btn btn-primary" >Login</button>
                </form>     
                <p class="mt-3"> Don 't hane account ? <a [routerLink]="['/register']">
                    Register
                </a></p>
                </div>
            </div>
        </div>
    </div>
</div>